.photo_manager__select {
  min-height: 180px;
  border: 4px solid black;
  border-radius: 10px;
  background-color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  position: relative;
  font-weight: 700;
  text-transform: uppercase;
}

.photo_manager__select span {
  letter-spacing: 5px;
  font-family: "Courier New", 'Times New Roman', Times, serif;
}
.photo_manager__file_input {
  position: absolute;
  top: -1000;
  z-index: 1;
  visibility: hidden;
}